@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.chat-container {
    position: absolute;
    top: 55%;
    margin-left: 1.875rem;
    transform: translatey(-45%);
    background-color: #fff0e9;
    box-shadow: 0 4px 10px 0 rgba(50, 17, 27, 0.25);
    border-radius: 20px;
    width: 67%;
    height: 35.125rem;
    display: flex;
    flex-direction: column;
    padding: .625rem 2.1875rem;
}

.hchat-container {
    background-color: #FEEFE9;
    box-shadow: 0 8px 40px 0 rgba(112, 38, 62, 0.25);
    border-radius: 1.25rem;
    width: 43.75rem;
    height: 500px;
    margin: 5.625rem auto 1.875rem auto;
}

.chattop {
    padding-top: 0.625rem;
    padding-bottom: .9375rem;
}

.contacttitle {
    display: flex;
    align-items: center;
}

.ccdogpic{
    width: 5rem;
    height: 5rem;
    z-index: -10;
    border-radius: 50%;
    box-shadow: 0 .75rem .625rem rgba(57, 32, 24, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .9375rem;
}

.ccmate {
    position: absolute;
    max-width: 1.5625rem;
    z-index: 1;
    border-radius: 50%;
    margin-top: -.3125rem;
}

.ccgirlpic {
    position: absolute;
    width: 2.1875rem;
    height: 2.1875rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    transform: translate(160%, 140%);
}

.ccdog{
    display: flex;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 1.25rem;
}

.ccgender {
    max-height: 2.5rem;
    margin: .4375rem;
}

.user {
    text-align: right;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFFAF5;
    border-radius: 20px;
    background-color: #FFA9A9;
    max-width: 31.25rem;
    padding: .625rem 1.25rem;
    margin-left: auto;
    box-shadow: -.1875rem .1875rem .3125rem rgba(57, 32, 24, 0.128);
    font-size: .9375rem;
}

.user2 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #443226;
    border-radius: 20px;
    background-color: #FFE7DA;
    max-width: 55%;
    padding: 10px 20px;
    margin: .625rem 0;
    box-shadow: .1875rem .1875rem .3125rem rgba(57, 32, 24, 0.128);
    font-size: .9375rem;
}

.chattings {
    height: 100%;
}

.chatbottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.25rem;
}

.chattype {
    display: flex;
    align-items: center;
}

#textsmtg {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    border-radius: 1.875rem;
    background-color: #FFA9A9;
    width: 30   .375rem;
    padding: 1.0625rem 4.375rem;
    margin-left: auto;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.10);
    border: none;
    letter-spacing: .0625rem;
    font-size: .9375rem;
    color: #FFFAF5;
}

#textsmtg:focus{
    outline: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFFAF5;
    letter-spacing: .0625rem;
    font-size: .9375rem;
}

#textsmtg::placeholder {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFFAF5;
    letter-spacing: .0625rem;
    font-size: .9375rem;
    opacity: 0.6;
}

.phoneicon, .mic {
    max-height: 2.8125rem;
}

.add {
    max-height: 1.5625rem;
    transform: translateX(170%);
}

.send {
    max-height: 1.5625rem;
    transform: translateX(-170%);
}

.phoneicon:hover, .mic:hover, .add:hover, .send:hover {
    cursor: pointer;
}

.side-container {
    padding-top: .9375rem;
}

.contact1, .contact2 {
    display: flex;
    padding-bottom: 1.875rem;
}

.contactinfo {
    display: flex;
    flex-direction: column;
}

.cdog{
    display: flex;
    width: 100%;
    font-size: 1.5625rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.cgender {
    max-height: 1.25rem;
    margin: .4375rem;
}

.clastmsg {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: .9375rem;
    max-width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.cpicset {
    display: flex;
}

.cdogpic{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .9375rem;
}

.cmate {
    position: absolute;
    max-width: 1.5625rem;
    z-index: 1;
    border-radius: 50%;
    margin-top: -.3125rem;
}

.cgirlpic {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    transform: translate(160%, 140%);
}

a { text-decoration: none; }

.hchat-top {
    display: flex;
    background-color: #FFDDDB;
    width: 100%;
    height: 69px;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-content: space-between;
}

.hchattitle {
    padding-left: 5.625rem;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.search-container {
    display: flex;
    padding-right: 2.5rem;
    align-items: center;
}

#srch {
    border-radius: 1.875rem;
    border: none;
    width: 15.625rem;
    height: 1.875rem;
    z-index: 29;
    transform: translateX(12%);
    padding-left: 1.25rem;
    font-size: .9375rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

#srch:focus {
    outline: none;
}

#srch::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #443226;
    opacity: .6;
}

.search {
    max-height: 1.0625rem;
    z-index: 30;
}

.search:hover {
    cursor: pointer;
}

.hchat-filter {
    display: flex;
    justify-content: space-around;
    height: 4.3125rem;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.hchatfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hchattype {
    padding: 1.25rem 0 .9375rem;
}

.hchatline {
    border-bottom: 2px solid rgba(68, 50, 38);
    width: 6.25rem;
}

.nohchatline {
    border-bottom: 2px solid rgba(68, 50, 38, 0);
    width: 6.25rem;
}

.hchat-content {
    padding-top: 1.875rem;
}

.chpicset {
    display: flex;
    padding-left: 3.75rem;
    padding-bottom: 1.25rem;
}

.chdogpic{
    width: 5.3125rem;
    height: 5.3125rem;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .9375rem;
}

.chmate {
    position: absolute;
    max-width: 1.5625rem;
    z-index: 1;
    border-radius: 50%;
    margin-top: -.3125rem;
}

.chgirlpic {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    transform: translate(150%, 130%);
}

.chdog{
    display: flex;
    width: 100%;
    font-size: 1.875rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 1.25rem;
}

.chgender {
    max-width: 1.875rem;
    margin: .4375rem;
}

.chlastmsg {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: .9375rem;
    max-width: 100%;
    padding-left: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.chcontactinfo {
    display: flex;
    flex-direction: column;
    width: 23.75rem
}
