@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@700&display=swap');

.choose-body {    
    height: 50.5625rem;
    overflow: hidden;
}

.choose-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}

.circle1 {
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #4E412F;
    border-radius: 50%;
    height: 70.7875rem;
    width: 151.6875rem;
    text-align: center;
    transform: translateY(55%);
}

.circle2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68625A;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: translateY(23%);
}



.choosetxt {
    z-index: 1;
    color: #FFEADF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transform: translateY(90%);
    font-size: 2.1875rem;
    letter-spacing: 5px;
}

.editpreftxt {
    z-index: 1;
    color: #FEF6F6;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    max-width: 9.375rem;
    margin-top: 3.75rem;
    padding-bottom: 1.25rem;
}

.chooseedit{
    background-color: #FEF6F6;
    color: #4E412F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 10px 5px rgba(103, 72, 72, 0.311);
    border: none;
    width: 9.375rem;
    height: 60px;
    padding: 12px;
}

.circle3 {
    position: relative;
    background-color: #9F9696;
    border-radius: 50%;
    height: 40%;
    width: 30%;
    transform: translateY(15%);
}

.choosepref{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #68625A;
    border-radius: 50%;
    height: 120%;
    width: 100%;
    text-align: center;
}

.chooselove, .chooseplay {
    position: absolute;
    transform: translate(-75%, -25%);
    z-index: 1;
    border-radius: 50%;
    height: 78%;
    width: 35%;
    background-color: #FEF6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chooseplay {
    transform: translate(75%, -25%);
}

.choosetitle {
    font-family: 'Glory', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.chooseicon {
    max-height: 23%;
    padding-bottom: 15px;
}

.chooseselect {
    border: 2px solid #4E412F1A;
    border-radius: 8px;
    padding: 12px;
    font-size: 0.9375rem;
    background-color: #4E412F;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    width: 150px;
    color: #FFFAF5;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}