/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* * {
    color: #4E412F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 23px;
} */

.detailbody {
    background: #FFDEDE;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEEAEA;
    box-shadow: 0 16px 40px 0 rgba(112, 38, 62, 0.25);
    border-radius: 1.25rem;
    width: calc(100% - 12.5rem);
    height: calc(100% - 7.5rem);
    display: flex;
    gap: 3.125rem;
    padding: 2.5rem;
}

.info-container, .info-container2 {
    margin-top: .9375rem;
    width: 20.625rem;
}

.ownername, .birth, .gender, .country, .city, .dogname, .breed, .age {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.2375rem;
    color: #4E412F;
}

#oname, #ocountry, #ocity, #dname, #dbreed, #dage, input[type="date"] {
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    background-color: #FFFAF5;
    box-shadow: 0 2px 8px rgba(82, 46, 34, 0.087);
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4E412F;
}

input[type="text"]:focus, input[type="date"]:focus, #bio {
    outline: none;
}

input[type="date"] {
    content: attr(placeholder);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #A6968C;

}

#oname::placeholder, #ocountry::placeholder, #ocity::placeholder, #dname::placeholder, #dbreed::placeholder, #dage::placeholder, #bio::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #A6968C;
}

.pic {
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.back {
    max-width: 3.125rem;
}

.logonamedetails {
    max-width: 150px;
    position: absolute;
    bottom: 0;
    padding-bottom: 1.875rem;
}

.numactive, .numinactive {
    font-size: 1.25rem;
    font-weight: 400;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: #4E412F;
    color: #FFE7D1;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    
}

.numinactive {
    background-color: rgba(78, 65, 47, 0.5);
}

.titleinactive {
    color: rgba(78, 65, 47, 0.5);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.4375rem;
}

.titleactive, .titleinactive {
    font-family: 'Inter', sans-serif;
    font-size: 1.4375rem;
    font-weight: 900;
    color: #4E412F;
}

.steps {
    margin-top: 30px;
}

.step-container {
    display: flex;
    align-items: center;
    padding: 1.4375rem 0px;
}

.line{
    border-left: 3px solid #443226;
    height: 100%;
}

.gender-box, .pgender-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 1.875rem;
    background-color: #FEEAEA;
    border-radius: 10px;
    padding: .625rem 1.25rem;
    box-shadow: 0 2px 8px rgba(82, 46, 34, 0.135);
}

.pgender-box {
    width: 60%;
}

.gender-box label, .pgender-box label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    color: #4E412F;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    cursor: pointer;
    position: relative;
}

.gender-box input[type="radio"], .pgender-box input[type="radio"] {
    display: none;
}

.gender-box input[type="radio"]:checked + span, .pgender-box input[type="radio"]:checked + span {
    background-color: #4E412F;
    color: #FFE7D1;
    opacity: 1;
}

.gender-box span, .pgender-box span {
    width: 1.875rem;
    height: 0px;
    border-radius: 10px;
    background-color: #FEEAEA;
    color: #4E412F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    padding: 1.25rem 1.625rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.gender-box span:hover, .pgender-box span:hover {
    opacity: 1;
}

.gender-box label:not(:last-child)::after, .pgender-box label:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -.9375rem;
    transform: translateY(-50%);
    height: 80%;
    border-left: 1px solid #4e412f73;
}

.picture, .dpicture {
    display: flex;
    align-items: center;
    margin-top: 41px;
}

.dpicture {
    margin-top: 22px;
}

.pic {
    border-radius: 50%;
    background-color: #FEA8A8;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 2px 8px rgba(82, 46, 34, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.upload {
    color: rgba(78, 65, 47, 0.5);
    padding-left: .9375rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 1.4375rem;
}

.camera {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}


.message1 {
    color: #4E412F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2.8125rem;
    width: 44.6875rem;
    font-size: 1.6875rem;
    line-height: 1.5;
}

.message2 {
    color: #4E412F;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1.875rem;
    padding-bottom: .625rem;
}

#bio {
    padding-left: 1.4375rem;
    height: 12.5rem;
    width: 39.6875rem;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    background-color: #FFFAF5;
    box-shadow: 0 2px 8px rgba(82, 46, 34, 0.087);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4E412F;
}

.info {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    color: #A6968C;
    padding-top: .625rem;
}

.buttondetails {
    border: 2px solid #4E412F1A;
    border-radius: 8px;
    padding: .625rem;
    font-size: 1rem;
    background-color: #4E412F;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 9.375rem;
    box-sizing: border-box;
    color: #FFFAF5;
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
    right: 0;
    margin-right: 80px;
}

.buttondetails:hover, .pic:hover {
    cursor: pointer;
}

