/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&display=swap');

* {
    scroll-behavior: smooth;
}

/* * {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #443226;
} */

/* body {
    margin: 0;

} */

/* Navigation bar */
.homenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #FFEBE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.homenav a {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #443226;
    margin-left: 4.375rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.homenav a:hover {
    color: #917d71;
}

.homenav a:last-child {
    margin-right: 1.875rem;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #443226;
}

#home, #about, #features, #community, #contact {
    font-size: 2rem;
    display: grid;
    height: 40rem;
    width: 100%;
    padding-top: 5.625rem;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

#home {
    background: #FFEBE0;
}

.logonamehome {
    float: left;
    padding-top: 0.9375rem;
    max-height: 31.875rem;
}

.homecaption {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.homecaption1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.125rem;
    font-weight: 900;
    margin-right: 1.25rem;
    color: #443226;
}

.homecaption2 {
    font-size: 1.5625rem;
    font-family: 'Poppins', sans-serif;
    color: #443226;
    padding-top: 0.3125rem;
}

.downloadbutton {
    margin: 0 auto;
    padding-top: 2.5rem; 
    display: block;
}

.appstore-container, .googleplay-container {
    padding: 20px;
    display: block;
    height: 6.25rem;
    width: 20rem;
    margin: 0 10px;
    filter: drop-shadow(0px 0px 10px rgba(70, 27, 19, 0.219));
}

.appstore, .googleplay {
    display: block;
    width: 100%;
    height: 100%;
}

#about {
    background: linear-gradient(#FFEBE0, #FFF9F4, #FFF9F4 95%);
    place-items: center;
    font-family: 'Poppins', sans-serif;
    color: #443226;
    text-align: center;
    height: 32rem;
    font-size: 1.5625rem;
}

.title{
    font-family: 'Inter', sans-serif;
    font-size: 3.125rem;
    font-weight: 900;
    color: #443226;
}

.aboutapp {
    font-family: 'Glory', sans-serif;
    font-size: 3.125rem;
    font-weight: 500;
    color: #CC3300;
    position: relative;
    top: -2.1875rem;
}

.aboutcaption {
    max-width: 37.5rem;
    margin: auto;
    position: relative;
    top: -2.8125rem;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.founders {
    font-family: 'Inter', sans-serif;
    font-size: 3.125rem;
    font-weight: 700;
    color: #443226;
}

.foundersname {
    list-style: none;
    margin: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.name {
    padding: 0px 70px 30px 70px;
    margin-left: -50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}
  
#features {
    background: linear-gradient(#FFE7D1 40%, #FFF2EC);
    place-items: center;
    text-align: center;
    font-size: 1.4375rem;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.feature1-container, .feature2-container, .feature3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature1-container, .feature3-container{
    margin-top: -2.1875rem;
}
.feature2-container {
    margin-top: 1.5625rem;
}

.feature {
    display: flex;
    gap: 3.125rem;
}

.num {
    font-size: 1.875rem;
    font-family: 'Poppins', sans-serif;
    width: 5.3125rem;
    height: 5.3125rem;
    border-radius: 50%;
    background-color: #4E412F;
    color: #FFE7D1;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredesc {
    padding: 10px 0px;
    max-width: 320px;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.phone1, .phone3, .phone2 {
    width: 10rem;
    filter: drop-shadow(0px 0px 10px rgba(137, 88, 32, 0.511));
}
.phone2 {
    width:23.75rem;
}

#community {
    background: #FFF3EC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 32rem;
}

.com-container {
    margin: 0.625rem 2.5rem;
}

.comcaption {
    font-family: 'Hepta Slab', serif;
    font-size: 2.8125rem;
    color: #443226;
    padding-top: 29px;
    max-width: 40.625rem;
    letter-spacing:2px;
    font-weight: 500;
    line-height: 1.4;
}

.comcaption2 {
    padding-top: 10px;
    color: #443226;
    font-family: 'Hepta Slab', serif;
    font-size: 1.1875rem;
    font-weight: 500;
    letter-spacing:2px;
    line-height: 1.4;
    width: 18.125rem;
}

.join {
    background-color: #FD8EA2;
    color: #FFFAF5;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    width: 200px;
    height: 78px;
    font-size: 20px;
    font-weight: bold;    
    position: relative;
    top: -170px;
    box-shadow: 0 0 5px rgba(103, 72, 72, 0.311);
}

.buttonhome {
    background-color: #FD8EA2;
    font-family: 'Poppins', sans-serif;
    color: #FFFAF5;
    border: none;
    border-radius: 15px;
    padding: 0.625rem 1.25rem;
    width: 12.5rem;
    height: 4.875rem;
    font-size: 1.25rem;
    font-weight: bold;    
    position: relative;
    top: -8.625rem;
    box-shadow: 0 0 5px rgba(103, 72, 72, 0.311);
}

.buttonhome:hover {
    cursor: pointer;
}  
  
.featureicon {
    width: 15.1875rem;
    position: relative;
    top: -5rem;
    left: 16.25rem;
}

.postexample {
    width: 21.875rem;
    max-height: 31.25rem;
    margin-left: auto;
    margin-right: 3.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 2px rgba(177, 89, 89, 0.126);
}

#contact {
    background: #4E412F;
    height: 16rem;
}

.contact-container {
    margin-top: -0.625rem;
    margin-left: 6.5625rem;
}

.contacttitle {
    font-family: 'Inter', sans-serif;
    font-size: 3.125rem;
    font-weight: 900;
    color: #FFE7D0;
}

.email-container, .phone-container {
    display: flex;
    padding-top: 2.5rem;
}

.contacticon-container {
    height: 2.125rem;
    width: 2.5rem;
    padding-right: 1.75rem;
}

.contactinfo {
    font-family: 'Hepta Slab', serif;
    color: #FFF;
    font-size: 1.4375rem;
    font-weight: 500;
}

/* responsive */
/* large screen  */

@media (max-width: 1170px) {
  html {
    font-size: 12px;
  }
}

/* Tablet screen  */

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 890px) {
  html {
    font-size: 10px;
  }
}

/* Mobile screen  */

@media (max-width: 710px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }
}
