/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* * {
    font-family: 'Poppins', sans-serif;
    color: #443226;
} */

body {
    margin: 0;
    background-color: #ffe9dc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
}

/* Navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    width: 26.875rem;
    transform: translate(0%, 40%);
}
 
.nav a {
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    letter-spacing: 3%;
    font-family: 'Poppins', sans-serif;
}

.inactive {
    color: #443226;
}

.inactive:hover {
    color: #917d71;
}

.logonamematch {
    max-width: 15.625rem;
    position: absolute;
    padding-left: 1.875rem;
}

.active {
    color: #bb250d;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.active:hover {
    color:#d27e71;
}

.profilepic {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    right: 3.125rem;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(82, 46, 34, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-color: #fff0e9;
    box-shadow: 0 8px 40px 0 rgba(112, 38, 62, 0.25);
    border-radius: 1.25rem;
    width: 26.875rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    place-items: center;
    text-align: center;
}

.mdogname {  
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #443226;
}

.dog{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.125rem;
    padding-bottom: 1.25rem;
    font-size: 2.1875rem;
    font-weight: 700;
}

.doggender {
    max-height: 1.875rem;
    margin: .625rem;
}

.doginfo {
    display: flex;
    place-items: center;
}

.doginfo2 {
    display: flex;
    flex-direction: column;
}

.dogpic {
    width: 10.625rem;
    height: 10.625rem;
    z-index: -10;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .9375rem;
}

.type, .dogage, .location {
    font-family: 'Poppins', sans-serif;
    border-radius: .5rem;
    padding: .3125rem;
    font-size: .75rem;
    background-color: #FFFAF5;
    box-shadow: 0 4px 5px rgba(57, 32, 24, 0.1);
    width: 170px;
    box-sizing: border-box;
    text-align: center;
    z-index: 90;
}

.dogage {
    margin: 40px 0px;
}

.type, .location {
    margin-left: -3.125rem;
}

.locicon {
    max-height: 1.875rem;
    z-index: 91;
    transform: translate(-190%, 180%);
}

.desc {
    text-align: center;
    max-width: 18.125rem;
    height: 3.75rem;
    padding-top: 2.0625rem; 
    padding-bottom: .9375rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.icon {
    display: flex;
    padding-top: 10px;
}

.buttonmatch {
    border-radius: 50%;
    margin: 0 75px;
    border: none;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonmatch:hover {
    cursor: pointer;
}

.reject, .accept {
    margin: 0 4.6875rem;
    border-radius: 50%;
    border: none;
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0 2px 5px rgba(95, 44, 28, 0.345));
}


.gm-container1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #fff0e9;
    box-shadow: 0 8px 40px 0 rgba(112, 38, 62, 0.25);
    border-radius: 1.25rem;
    width: 26.875rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: .625rem;
    place-items: center;
    text-align: center;
}

.gmnotif {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5625rem;
    padding: 1.25rem 0;
}

.gmdesc {
    text-align: center;
    max-width: 16.875rem;
    padding-top: .625rem; 
    padding-bottom: .9375rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.gmicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmnavi, .gmnavig {
    border-radius: 50%;
    margin: 0 1.5625rem;
    border: none;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.gmnavig {
    width: 3.75rem;
    height: 3.75rem;
    background-color: #FFBBBB;
    filter: inset drop-shadow(0 0px 1.25rem rgba(95, 28, 45, 0.183));
}

.gmback, .gmnext {
    border-radius: 50%;
    border: none;
    width: 3.125rem;
    height: 3.125rem;
}

.gmchat {
    max-height: 2.5rem;
}

.gmdog{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.1875rem;
    font-weight: 700;
}

.recentcontact {
    position: absolute;
    top: 55%;
    left: 77%;
    transform: translate(0%, -45%);
    background-color: #fff0e9;
    box-shadow: 0 .5rem 2.5rem 0 rgba(112, 38, 62, 0.25);
    border-radius: 1.25rem 0 0 1.25rem;
    width: 17.5rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: .625rem;
    place-items: center;
    text-align: center;
    z-index: -1;
}

.sidetitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5625rem;
    padding: 1.25rem 0;
}

.picset {
    display: flex;
}

.girlpic {
    position: absolute;
    width: 4.375rem;
    height: 4.375rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    transform: translate(160%, 150%);
}

.sidecontent {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    gap: .9375rem;
    margin-top: 30%;
    opacity:0.5;
}

.nochat {
    max-width: 6.25rem;
}