/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600display=swap');

.profile-container {
    background-color: #FEEFE9;
    box-shadow: 0 8px 40px 0 rgba(112, 38, 62, 0.2);
    border-radius: 20px;
    width: 59.375rem;
    display: flex;
    flex-direction: column;
    padding: .625rem;
    place-items: center;
    margin: 5rem auto 1.875rem auto;
}

.sectiontitle {
    text-align: center;
    color: #443226; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.625rem;
    font-weight: 600;
    padding-bottom: .625rem;
    letter-spacing: 1px;
}

#profileview {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.profilecap {
    color: #443226; 
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    padding: 1.0625rem;
    font-size: .8125rem;
}

.profdoginfo {
    display: flex;
    place-items: center;
    margin-top: 3.125rem;
}

.profdoginfo2 {
    display: flex;
    flex-direction: column;
}

.proftype, .profage, .proflocation {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    padding: .5rem;
    font-size: 1.0625rem;
    background-color: #FFFAF5;
    box-shadow: 0 4px 5px rgba(57, 32, 24, 0.1);
    width: 11.875rem;
    box-sizing: border-box;
    text-align: center;
    z-index: 19;
}

.profage {
    margin: 40px 0px;
}

.proftype {
    transform: translate(-5%, -20%);
}

.profloc {
    transform: translate(15%, 130%);
    z-index: 20;
}

.proflocicon {
    max-height: 30px;
    transform: translate(898%, -180%);
}

.profdog{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: .625rem;
    padding-top: 2.0625rem; 
    font-size: 2.1875rem;
    font-weight: 700;
    align-items: center;
}

.profname {  
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.1875rem;
}

.profgender {
    max-height: 2.625rem;
    padding-bottom: .3125rem;
}

.profdesc {
    text-align: center;
    max-width: 16.875rem;
    padding-bottom: 3.125rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.profpicset {
    display: flex;
}

.profdogpic {
    width: 13.75rem;
    height: 13.75rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 12px 10px rgba(57, 32, 24, 0.135);
    margin-right: .9375rem;
}

.guypic {
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 .75rem .625rem rgba(57, 32, 24, 0.135);
    transform: translate(160%, 150%);
}

#userprofile, #dogprofile{
    margin: 5.625rem 0;
    width: 80%;
}

.sideline1, .sideline2{
    border-left: .125rem solid rgba(68, 50, 38, 0.3);
    height: 38.125rem;
    margin-top: -50px;
}

.sideline2{
    height: 45.625rem;
}

.userprof-container {
    display: flex;
    flex-direction: row;
}

.userprof-container2 {
    padding-left: 5rem;
}

.userprof-container3 {
    display: flex;
    flex-direction: column;
    padding-left: 6.25rem;
    position: relative;
}

.info-container, .info-container2, .info-container3 {
    margin-top: 15px;
    width: 20.625rem;
}

.ownname, .ownbirth, .owngender, .owncountry, .owncity, .dgname, .dgbreed, .dgage, .dggender, .dbio {
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    color: #4E412F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.profcamera {
    width: 14.375rem;
    height: 14.375rem;
    border-radius: 50%;
    box-shadow: 0 .75rem .625rem rgba(57, 32, 24, 0.135);
    margin-top: 2.5rem;
}

#dogbio {
    padding-left: 1.4375rem;
    font-size: 1rem;
    height: 9.375rem;
    width: 130%;
    color: #4E412F;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color: #FFFAF5;
    box-shadow: 0 2px 8px rgba(82, 46, 34, 0.087);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.psavebutton, .dsavebutton {
    border: 2px solid #4E412F1A;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    background-color: #4E412F;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 130px;
    box-sizing: border-box;
    color: #FFFAF5;
    position: absolute;
    bottom: 19px;
    right: 0;
}

.dsavebutton {
    bottom: 22px;
}

.profline{
    border-bottom: 4px solid rgba(68, 50, 38, 0.6);
    width: 80%;
    border-radius: 50px;
}

.logout, .delete {
    border: none;
    border-radius: 50px;
    padding: 16px;
    font-size: 20px;
    background-color: #FFFAF5;
    box-shadow: 0 4px 5px rgba(67, 22, 22, 0.1);
    width: 190px;
    height: 60px;
    box-sizing: border-box;
    color: #4E412F;
    font-weight: 600;
}

.delete {
    background-color: #CC3300;
    box-shadow: 0 4px 10px rgba(67, 22, 22, 0.2);
    color: #FFFAF5;
}

.profileButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin: 10px 0 80px;

}

button:hover, .profcamera:hover {
    cursor: pointer;
}